---
layout: default
---

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <picture>
        {% if page.hero_image_mobile %}
            <source media="(max-width: 600px)" srcset="{{ page.hero_image_mobile }}">
        {% endif %}
        {% if page.hero_image %}
            <source media="(min-width: 601px)" srcset="{{ page.hero_image }}">
            <img aria-hidden="true" decoding="async" src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" loading="eager" width="2500" height="1667">
        {% endif %}
    </picture>
</section>

<!-- ============================================ -->
<!--              Main Page Content               -->
<!-- ============================================ -->

<div class="container main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
</div> 